@media (max-width: 479px) {

    form {
        padding: 10px;
    }
    .service_items {
        margin-left: 0px;
    }
    .service_items > * {
        width: 100%;
        margin-left: 0px;
    }

  

   
}
