@media print, (max-width: 767px) {
  
    .header_info-mob {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .header_info {
        display: none;
    }
    .header_contacts {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .header_btn {
        margin: 20px auto 0;
    }
    header .menu {
        padding: 30px;
    }
    header .menu .item a {
        font-size: 20px;
        line-height: 1.5;
    }
    .about_video {
        width: 100%;
        height: auto;
    }
    .reviews_title,
    .title,
    .callback_title,
    .work_title {
        font-size: 26px;
        text-align: center;
        display: block;
        margin-bottom: 18px;
    }
    .reviews_title:after,
    .reviews_title:before,
    .title:after {
        display: none;
    }
    .reviews_wrap {
        flex-direction: column;
    }
    .reviews_info {
        margin-left: 0px;
        margin-top: 20px;
    }
    .reviews_info-title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 15px;
    }
    .reviews_info-text p {
        margin-bottom: 15px;
    }
    .reviews_info-text {
        font-size: 18px;
        line-height: 22px;
    }
    .block_head {
        margin-bottom: 0px;
    }
    form {
        padding: 20px;
    }
    .footer_wrap {
        flex-direction: column;
        justify-content: center;
    }
    .footer_menu {
        order: 0;
        column-count: 1;
        column-gap: 0;
        text-align: center;
        margin-bottom: 20px;
    }
    .footer_logo {
        margin-left: auto;
    }
    .footer_contacts {
        margin-right: auto;
        margin-bottom: 15px;
    }
    .footer_politic {
        margin-top: 20px;
    }
    .about, 
    .reviews, 
    .callback, 
    footer,
    .certificate,
    .service,
    .work,
    .contacts,
    .projects,
    .operation,
    .partners {
        padding: 30px 0;
    }
    .footer_menu li {
        line-height: 32px;
    }
    .modal form {
        padding: 0px;
    }
    .modal.fancybox__content {
        padding: 20px;
    }
    .form_title {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 13px;
    }

    .service_items {
        margin-left: -20px;
        margin-bottom: -30px;
    }
    .service_items > * {
        width: calc(100%/2 - 20px);
        margin-left: 20px;
        margin-bottom: 30px;
    }
    .work_items > * {
        width: calc(100%/2 - 20px);
    }
    .certificate_items {
        margin-left: -15px;
        margin-bottom: -20px;
    }
    .certificate_items > * {
        width: calc(100%/3 - 15px);
        margin-left: 15px;
        margin-bottom: 20px;
    }

    .contacts_wrap {
        flex-direction: column;
    }
    .map_wrap {
        width: 100%;
        height: 270px;
    }
    .contacts_info {
        margin-left: 0px;
        margin-top: 25px;
    }
    .contacts_wrap {
        align-items: flex-start;
    }
    .contacts_phone {
        margin-bottom: 15px;
    }
    .contacts_email {
        margin-bottom: 15px;
    }
    .contacts-page .callback form .line .btn-desctop {
        display: none;
    }
    .btn-mob {
        display: block;
    }
    .contacts-page .callback form {
        flex-direction: column;
    }
    .contacts-page .callback form textarea {
        width: 100%;
        margin-right: 0;
        margin-bottom: 18px;
    }
    .contacts-page .callback_text {
        font-size: 17px;
        line-height: 22px;
    }
    .contacts-page .callback form .line:nth-child(2) {
        order: -1;
    }
    
    .projects_item {
        margin-bottom: 30px;
    }
    .projects_item:nth-child(2n + 1) {
        flex-direction: column-reverse;
    }
    .projects_item:nth-child(2n) {
        flex-direction: column-reverse;
    }
    .projects_item-img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    .projects_item-info {
        max-width: 100%;
    }
    .projects_item:nth-child(2n + 1) .projects_item-info {
        margin-right: 0px;
    }
    .projects_item:nth-child(2n) .projects_item-info {
        margin-left: 0px;
    }
    .benefits_text p {
        font-size: 24px;
        line-height: 30px;
    }
    .benefits_text {
        padding: 24px;
    }
    .benefits {
        margin: 50px 0;
    }

    .operation_items {
        margin-left: -20px;
        margin-bottom: -30px;
    }
    .operation_items > * {
        width: calc(100%/2 - 20px);
        margin-left: 20px;
        margin-bottom: 30px;
    }

    .partners_items > * {
        width: 100%;
        margin-left: 0;
        margin-bottom: 15px;
    }
    .partners_items {
        margin-left: 0;
    }
    .partners_item-img {
        padding: 15px;
        height: 140px;
        margin-bottom: 10px;
    }
    .partners_title:before {
        bottom: -10px;
    }

    .partners-page .header_contacts a {
        color: #000;
    } 
    .partners-page .header_contacts span {
        color: #000;
    }
    .header_bottom-title {
        font-size: 28px;
        line-height: 38px;
        margin-bottom: 25px;
    }
    .header_bottom-title br {
        display: none;
    }
    .header_bottom-text {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 15px;
        padding-left: 0;
    }
    .header_bottom {
        margin-top: 61px;
    }
    .header_bottom-text:before {
        display: none;
    }
    .header_advantages {
        flex-direction: column;
        margin-bottom: 10px;
    }
    .header_advantages-item {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .partners-page .header_consultation {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .header_btn-text {
        margin-left: 0;
        margin-top: 15px;
    }

    .footer_box {
        flex-direction: column;
        margin-right: auto;
    }





}
