@media (max-width: 479px) {

    form {
        padding: 10px;
    }
    .service_items {
        margin-left: 0px;
    }
    .service_items > * {
        width: 100%;
        margin-left: 0px;
    }
    .certificate_items {
        margin-left: 0px;
    }
    .certificate_items > * {
        width: 100%;
        margin-left: 0px;
    }
    .benefits_text p {
        font-size: 24px;
        line-height: 30px;
    }
    .benefits_text {
        padding: 24px;
    }
    .benefits {
        margin: 40px 0;
    }
    .benefits_text p {
        font-size: 20px;
        line-height: 25px;
    }
    .operation_items {
        margin-left: 0px;
    }
    .operation_items > * {
        width: 100%;
        margin-left: 0px;
        min-height: 140px;
    }
    .operation_item-title {
        font-size: 16px;
        line-height: 20px;
    }
  

   
}
